@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    background-image: url("images/tend_sunflower.jpg");
    background-repeat: no-repeat;
}

body {
    font-family: 'Raleway', helvetica;
}

footer {
    color: rgba(46, 45, 45, 0.596);
    position:absolute;
    bottom: 0px;
    float: right;
    height: 35px;
    margin: 0px 0px 0px 0px;
    padding: 10px 30px;
}

h1 {
    font-family: 'Raleway', helvetica;
    color: rgba(46, 45, 45, 0.596);
    font-size: 50px;
}

#table {
    width: 35%;
    color: rgb(0, 179, 179);
    border: 1px solid rgb(0, 179, 179);
    margin-right: 4rem;
}

.table-position {
    float: right; 
}

.links {
 font-size: small;
}

a {
 color: rgb(0, 179, 179);
}
